<div style="width: 400px; margin-top: 20px">
  <h2>Edit Department</h2>
  <%= form_with(model: @department, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :Department_name %>
      <%= f.text_field :name, class: 'form-control col-md-7' %>
    </div>

    <div class="field form-group">
      <%= f.label :leader %><br/>
      <%= f.collection_select :user_id, User.where(department_id: @department.id), :id, :name, include_blank: true %>
    </div>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
