<% provide(:title, 'All Department') %>

<h2 class="text-center py-3">All Department</h2>

<%= link_to "+ Add New Department", new_department_path, class: "btn btn-secondary" %>
<%= will_paginate %>

<table class="table mt-3">
  <thead>
  <tr class="thead-dark text-center">
    <th scope="col">STT</th>
    <th scope="col">Name</th>
    <th scope="col">Number Member</th>
    <th scope="col">Number Project</th>
    <th scope="col">Leader</th>
    <th scope="col">Description</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @departments.each_with_index do |department, index| %>
    <tr class="text-center">
      <td> <%= index + 1 %></td>
      <td> <%= department.name %></td>
      <td> <%= department.users.length %></td>
      <td> <%= department.projects.length %></td>
      <td>
        <%= department.users.find_by(id: department.user_id)&.name || "No Leader" %>
      </td>
      <td> <%= department.description %></td>
      <td>
        <% if current_user.admin? || department.is_leader?(current_user) %>
          <%= link_to "Detail", department_path(department),class: "btn btn-info btn_action" %>
        <% end %>
      </td>
      <td>
        <% if current_user.admin? %>
          <%= link_to "Edit", edit_department_path(department),class: "btn btn-primary btn_action" %>
        <% end %>
      </td>
      <td>
        <% if current_user.admin? %>
          <%= button_to 'Destroy', department, method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-danger btn_action" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


