<h2 class="text-center">Information Department</h2>
<h4>
  ** <%= @department.name %> **
</h4>
<strong>Leader: </strong> <%= @user_leader&.name %><br/>
<strong>Number member: </strong> <%= @department.users.length %><br/>
<strong>Number project: </strong> <%= @department.projects.length %><br/>
<strong>Description: </strong> <%= @department.description %><br/>

<br>
<h4 class="text-center">List User to Department</h4>

<% if current_user.admin? %>
  <%= link_to "+ Edit Number User to Department", edit_department_users_department_path(@department), class: "btn btn-secondary" %>
<% end %>

<table class="table mt-3">
  <thead>
  <tr class="thead-dark text-center">
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <% @users.each_with_index do |user, index| %>
    <tr class="text-center">
      <td> <%= index + 1 %></td>
      <td>
        <% if current_user.admin? || current_user.hr? || current_user == user || current_user.id == user.department&.user_id %>
          <%= link_to user.name, user_path(user) %>
        <% else %>
          <%= user.name %>
        <% end %>
      </td>
      <td> <%= user.email %></td>
      <% if @user_leader&.id == user.id %>
        <td>Leader</td>
      <% else %>
        <td>employee</td>
      <% end %>
    </tr>
  <% end %>
  <tbody>
  </tbody>
</table>

<br>

<h4 class="text-center">List Project to Department</h4>

<% if current_user.admin? %>
  <%= link_to "+ Edit Number Project to Department", edit_department_projects_department_path(@department), class: "btn btn-secondary" %>
<% end %>

<table class="table mt-3" style="margin-bottom: 150px">
  <thead>
  <tr class="thead-dark text-center">
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Number Member</th>
    <th scope="col">Leader Project</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <% @project.each_with_index do |project, index| %>
    <tr class="text-center">
      <td> <%= index + 1 %></td>
      <td>
        <% if current_user.admin? || project.member_project?(current_user) || project.department&.is_leader?(current_user) %>
          <%= link_to project.name, project_path(project) %>
        <% else %>
          <%= project.name %>
        <% end %>
      </td>
      <td> <%= project.user_projects.length %></td>
      <td>
        <% project.user_projects.select { |user_project| p user_project.is_leader == "PM" }.each do |user_project| %>
          <%= user_project.user.name %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tbody>
  </tbody>
</table>