<h2 class="text-center">Information Project</h2>
<h4>
  ** <%= @project.name %> **
</h4>
<strong>Number member: </strong> <%= @project.user_projects.length %><br/>

<div class="d-flex">
  <strong>Leader: </strong>
  <div class="ml-2">
    <% @users_leader.each do |user_leader| %>
      <%= user_leader.user.name %><br>
    <% end %>
  </div>
</div>

<br>

<h3 class="text-center">List User to Project</h3>

<% if current_user.admin? || @project.pm?(current_user) %>
  <%= link_to "+ Add New User to Project", new_project_user_project_path(@project), class: "btn-add btn btn-secondary" %>
<% end %>

<table class="table mt-3">
  <thead>
  <tr class="thead-dark text-center">
    <th scope="col">STT</th>
    <th scope="col">User Name</th>
    <th scope="col">Role</th>
    <th scope="col">Department</th>
    <th scope="col" style="width:100px"></th>
    <th scope="col" style="width:100px"></th>
    <th scope="col" style="width:100px"></th>
  </tr>
  </thead>
  <% @users_project.each_with_index do |user_project, index| %>
    <tr class="text-center">
      <td> <%= index + 1 %></td>
      <td> <%= user_project.user.name %></td>
      <td>
        <%= user_project.is_leader %>
      </td>
      <td> <%= user_project.user.department&.name %></td>
      <td>
        <% if current_user.admin? || current_user.hr? || @project.pm?(current_user) || current_user == user_project.user %>
          <%= link_to "Detail", user_path(user_project.user.id), class: "btn btn-info btn_action" %>
        <% end %>
      </td>
      <td>
        <% if current_user.admin? || @project.department.is_leader?(current_user) %>
          <%= link_to "Edit", edit_project_user_project_path(@project, user_project, user_project.user), class: "btn btn-primary btn_action" %>
        <% end %>
      </td>
      <td>
        <% if current_user.admin? || @project.department.is_leader?(current_user) %>
          <%= button_to "Destroy", project_user_project_path(@project, user_project), method: :delete, class: "btn btn-danger btn_action" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tbody>
  </tbody>
</table>