<% provide(:title, 'ALl User') %>

<h2 class="text-center py-3">User</h2>

<% if current_user.admin? %>
  <%= link_to "+ Add New User", new_user_path, class: "btn btn-secondary" %>
<% end %>


<table class="table mt-3">
  <thead>
  <tr class="thead-dark text-center">
    <th scope="col">ID</th>
    <th scope="col"> <%= t('activerecord.attributes.user.name') %></th>
    <th scope="col"> <%= t('activerecord.attributes.user.email') %></th>
    <th scope="col"> <%= t('activerecord.attributes.user.address') %></th>
    <th scope="col"> <%= t('activerecord.attributes.user.birthday') %></th>
    <th scope="col"> <%= t('activerecord.attributes.user.role') %></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr class="text-center">
      <td> <%= index + 1 %></td>
      <td class="detail">
        <% if current_user.admin? || current_user.hr? || current_user == user || current_user.id == user.department&.user_id %>
          <%= link_to user.name, user_path(user) %>
        <% else %>
          <%= user.name %>
        <% end %>
      </td>
      <td> <%= user.email %></td>
      <td> <%= user.address %></td>
      <td> <%= user.birthday %></td>
      <td>
        <% if user.role == "admin" %>
          <%= t('activerecord.models.admin') %>
        <% elsif user.role == "hr" %>
          <%= t('activerecord.models.hr') %>
        <% elsif user.role == "employee" %>
          <%= t('activerecord.models.employee') %>
        <% end %>
      </td>
      <td>
        <%# if current_user.admin? %>
        <%= link_to "Edit", edit_user_path(user), class: "btn btn-primary btn_action" %>
        <%# end %>
      </td>
      <td>
        <% if current_user.admin? %>
          <%= button_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn_action" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
